/*Stylesheet for geotweets.*/
.tweet {
  margin-top: 12px;
  margin-left: 12px;
  position: relative;
}
.tweet .avatar {
  position: absolute;
  top:0; left: 0;
  width: 60px;
}
.tweet .avatar img {
  width: 48px;
  height: 48px;
}
.tweet-content {
  position: relative;
  top: 0; left: 60px;
  padding-right: 80px;
}
.tweet-content h2 {
  font-size: 90%;
  font-weight: bold;
}
.tweet-content p {
  font-size: 80%;
}
